@font-face {
  font-family: "Bebas Neue";
    src: url(../fonts/BebasNeueRegular.otf);
}

@font-face {
  font-family: "BebasBook";
  src: url(../fonts/BebasNeueBook.ttf) format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.otf);
}

html {
	font-size:16px;
}

h1 {
	text-align: center;
	font-weight: bold;
  font-family: "Bebas Neue", Helvetica, sans-serif;
	letter-spacing: 5px;
	font-size:10em;
  margin:0;
}

h3 {
  font-size:4em;
  font-family: "BebasBook", Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-family: "BebasBook", Helvetica, sans-serif;
  font-size:2em;
}

a, a:visited, a:active, a:focus {
	color:black;
	text-decoration: none;
  font-family: "Montserrat", Helvetica, sans-serif;
  -webkit-transition: color 0.6s ease; /* For Safari 3.1 to 6.0 */
  transition: color 0.6s ease;
  margin:0 0.2em 0 0.2em;
}

i {
  -webkit-transition: color 0.6s ease; /* For Safari 3.1 to 6.0 */
  transition: color 0.6s ease;
}

a:hover, i:hover {
	text-decoration: none;
	color:red;
}

#resume {
  display:block;
}

ul {
	list-style:none;
  font-family: "BebasBook";
  font-size:3em;
  text-align: center;
  margin:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

li {
  display:inline-block;
}

.about-text {
  font-size:1.5em;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.project-text {
  font-size:1em;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.about, .social, .project {
  text-align: center;
}

.social {
  margin-bottom:1.5em;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size:6em;
  }
  h3 {
    font-size:3em;
  }
  h5 {
    margin:1em 0 0.5em 0;
  }
  .about-text {
    font-size:1.25em;
  }
  ul {
    font-size:2.5em;
  }
}