@font-face {
  font-family: "Bebas Neue";
    src: url(../fonts/BebasNeueRegular.otf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.otf);
}

* {
  box-sizing: border-box;
}

html {
	font-size:16px;
}

html, body {
  margin: 0;
  height: 100%;
}

h1 {
	text-align: center;
	font-weight: bold;
  font-family: "Bebas Neue", Helvetica, sans-serif;
	letter-spacing: 5px;
	font-size: 10em;
  margin:0;
}

h3 {
  font-size:4em;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  text-align: center;
}

h5 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
}

a, a:visited, a:active, a:focus, i {
	color:black;
	text-decoration: none;
  font-family: "Montserrat", Helvetica, sans-serif;
  -webkit-transition: color 0.3s ease; /* For Safari 3.1 to 6.0 */
  transition: color 0.3s ease;
}

a:hover, i:hover {
	text-decoration: none;
	color:red;
}

ul {
	list-style: none;
  font-family: "Bebas Neue";
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  display:inline-block;
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.about-text {
  font-size:1.5em;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.project-text {
  font-size:1em;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.about, .social, .project {
  text-align: center;
}

.social {
  margin-bottom:1.5em;
}

.social a {
  padding: 5px;
  margin-right: 1em;
}

.projects {
  margin-top: 1em;
  text-align: center;
}

.projects a {
  font-size: 2em;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size:6em;
  }
  h3 {
    font-size:3em;
  }
  h5 {
    margin:1em 0 0.5em 0;
  }
  .about-text {
    font-size:1.25em;
  }
  ul {
    font-size:2.5em;
  }
  .projects a {
    font-size: 1.5em;
  }
}